# droppings
*~
.\#*
\#*
foo*

/.Xauthority
/.aspell.*
/.aws/
/.bash_history
/.bash_sessions/
/.cache/
/.cask/
/.cert/
/.config/
/.dbus/
/.ddd/
/.emacs.d/
/.escobar/
/.esd_auth
/.fontconfig/
/.fonts.conf
/.gdb_history
/.gem/
/.gimp-2.8/
/.gnupg/
/.gnuplot_history
/.gtkrc-2.0
/.hex/
/.imwheelrc
/.kde4/
/.lastpass/
/.lesshst
/.local/
/.localbashrc
/.mix/
/.mozilla/
/.nmcli-history
/.pki/
/.psci_modules/
/.purescript/
/.purple/
/.qmmp/
/.ssh/
/.xsession-errors*
/Desktop/
/Network/

/Downloads/
/git/

# erlang droppings
*.beam
*.dump
erl_crash.dump
/.erlang.cookie
